fastapi[all]
uvicorn
sqlalchemy
psycopg2
scikit-learn
xgboost
lightgbm
networkx
pandas
numpy
python-multipart
joblib
shap

# Async Task Queue
celery[redis]
redis

passlib[bcrypt]
PyJWT

# Security modules
slowapi
cryptography

# Image processing (signature comparison)
Pillow
imagehash
torch==2.5.1
torch_geometric==2.6.1
geopy==2.4.1

